:root {
    --first-color-text: #000;
    --second-color-text: #4D5AE5;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text:#F4F4FD;
    --color-white: #FFFFFF;
}

span {
    color: var(--fourth-color-text)
}
.list {
    list-style: none;
}
address {
    font-style: normal;
}
.link:hover {
    color: #404bbf,
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--third-color-text);
    background-color: var(--color-white);
line-height: 1.6;
cursor: pointer;
}
header {
background-color: var(--color-white);
}
.h-first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.h-third {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
}
.list-fourth {
    background-color: #FFFFFF;
}
.header-list {
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;

}
a {
    text-decoration: none;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color:#2E2F42;
}
p {
    font-size: 16px;
    color: #434455;
}
.first-section {
    background-color: var(--fourth-color-text);
}
img {
    display: block;
}
button {
color: #FFFFFF;
background-color: var(--second-color-text);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: "Roboto", sans-serif;
cursor:pointer;
}
.button {
    background-color:  #4D5AE5;
}
.button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color:  #404BBF;
}

a:hover  {
    color:#FFFFFF;
}
.press {
    color: var(--second-color-text);
    background-color: var(--fifth-color-text);
}
.press:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}
.press:focus {
    color:  #FFFFFF;
    background-color: #404BBF;
}
.highlight:hover, .highlight-two:hover {
    color:orange
}

.logo {
    font-size: 18px;
    font-style:normal;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color-text);
}
.link-first{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
}
.link-first:hover {
    color:#404bbf;
}
.link-first:focus {
    color:#404bbf;
}
.logo link {
   color: var(--fourth-color-text);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
    text-decoration: none;
}
.first-list {
    font-size: 16px;
    font-weight: 500;
    color:#2E2F42;
}

.second-list {
    font-size: 16px;
    color:#434455;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.second-list:hover, .second-list:focus {
    color: #404BBF;
}
.second-h {
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.fourth-section {
    background-color: #F4F4FD;
}
.highlight-two {
    color:#F4F4FD;
    font-size: 18px;
    font-weight: 800;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--second-color-text);
}
footer {
    background-color: var(--fourth-color-text);
}
.logo-index {
    line-height: 1.5;
    color: var(--fifth-color-text);
    letter-spacing: 0.02em;
}