:root {
    --first-color-text: #000;
    --second-color-text: #4D5AE5;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text:#F4F4FD;
    --color-white: #FFFFFF;
}
.logo {
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    color: var(--third-color-text)
}
span {
    color: var(--fourth-color-text)
}
.list {
    list-style: none;
}
address {
    font-style: normal;
}
.link:hover {
    color: #404bbf,
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--third-color-text);
    background-color: var(--color-white);
line-height: 1.6;
cursor: pointer;
}
header {
background-color: var(--color-white);
}
.h-first {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.h-third {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
}
.list-fourth {
    background-color: #FFFFFF;
}
.header-list {
    line-height: 1.2;
    letter-spacing: 0.02em;

}
a {
    text-decoration: none;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color:#2E2F42;
}
p {
    font-size: 16px;
    color: #434455;
}
button {
color: var(--second-color-text);
background-color: var(--fifth-color-text);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: "Roboto", sans-serif;
cursor:pointer;
}
.button {
    background-color: #4D5AE5;
    color: #ffffff;
}
a:hover, button:hover {
    color:#FFFFFF;
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}
.highlight:hover, .highlight-two:hover {
    color:orange
}
.first-section {
    background-color: var(--fourth-color-text);

}
.logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color-text);
    font-size: 18px;
    font-weight: 800;
}
.link-first {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text)
}
.link-first:hover {
    color:#404bbf;
}
.link-first:focus {
    color:#404bbf;
}
.link {
    text-decoration: none;
}
.first-list {
    font-size: 16px;
    font-weight: 500;
    color:#2E2F42;
}

.second-list {
    font-size: 16px;
    color:#434455;
}
.second-h {
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.fourth-section {
    background-color: #F4F4FD;
}
.highlight-two {
    color:#F4F4FD;
    font-size: 18px;
    font-weight: 800;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--second-color-text)
}
footer {
    background-color: var(--fourth-color-text);
}
.logo-index {
    line-height: 1.5;
    color: var(--fifth-color-text);
    letter-spacing: 0.02em;
}