:root {
    --first-color-text: #000;
    --second-color-text: #4D5AE5;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --fifth-color-text:#F4F4FD;
    --color-white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    }
.header-main {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;

}
.div-header {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    color: var(--fourth-color-text)
}
.span-header:hover {
    color:#404bbf;
}

.menu {
    display: flex;
    gap: 40px;

}
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.list {
    list-style: none;
    display: flex;
    gap: 40px;
}
.button-list {
    justify-content: center;
    gap: 24px; 
    margin-bottom: 72px;
}
address {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover {
    color: #404bbf,
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--third-color-text);
    background-color: var(--color-white);
line-height: 1.6;
cursor: pointer;
}
header {
background-color: var(--color-white);
}
.h-first {
    margin:0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px; 
}
.h-third {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--fourth-color-text);
    margin-bottom: 72px;
}
.list-third {
    gap: 24px;
}
.li-third {
    width: calc((100% - 48px) / 3);
}
.list-fourth {
    background-color: var(--color-white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.last-list {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visually-hidden {
    visibility: hidden;
}
.employees {
    padding: 32px 0px;
}
.name {
    text-align: center;
    margin-bottom: 8px;
}
.role {
    text-align: center;
}
.header-list {
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500; 
    font-size: 20px;
    line-height: 1.2;
    color: var(--fourth-color-text);

}
a {
    text-decoration: none;
}
.paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--fourth-color-text);
}
p {
    font-size: 16px;
    color: var(--third-color-text);
}

.app-list {
    justify-content: center; 
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.app-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}
.app-header {
    margin-bottom: 8px;
}
img {
    display: block;
    width: 100%;
}
.btn {
color: var(--color-white);
background-color: var(--second-color-text);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: "Roboto", sans-serif;
cursor:pointer;
}
.button {
    margin:auto;
    background-color:  var(--second-color-text);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
padding: 16px 32px;
}
.button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color:  #404BBF;
}

a:hover  {
    color:var(--color-white);
}
.press {
    color: var(--second-color-text);
    background-color: var(--fifth-color-text);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

}
.press:hover {
    color: var(--color-white);
    background-color: #404BBF;
    border: 1px solid transparent;
}
.press:focus {
    color:  var(--color-white);
    background-color: #404BBF;
    border: 1px solid transparent;
}
.highlight:hover, .highlight-two:hover {
    color:#404bbf; 
}

.logo {
    font-size: 18px;
    font-style:normal;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color-text);
    margin-right: 76px;
}
.link-first{
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-color-text);
    padding: 24px 0;
}
.link-first:hover {
    color:#404bbf;
}
.link-first:focus {
    color:#404bbf;
}
.logo link {
   color: var(--fourth-color-text);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
    text-decoration: none;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px; 
}
.logo:hover {
    color:var(--sixth-color-text);
}
.first-list {
    font-size: 16px;
    font-weight: 500;
    color: var(--fourth-color-text);
}

.first-section-portfolio {
    padding: 96px 0 120px 0;
flex-shrink: 0;
}
.first-section {
    background-color: var(--fourth-color-text);
    padding: 188px 0;
}
.second-list {
    font-size: 16px;
    color: var(--third-color-text);
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.second-list:hover, .second-list:focus {
    color: #404BBF;
}
.section {
    padding: 120px 0;
}
.second-h {
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.points {
    margin-bottom: 8px; 
}
.second-list {
    gap: 24px;
}
.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us {
    width: calc((100% - 72px) / 4);

}
.third-section {
    padding-bottom: 120px;
}
.fourth-section {
    background-color: var(--fifth-color-text);
}
.highlight-two {
    color: var(--fifth-color-text);
    font-size: 18px;
    font-weight: 800;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--second-color-text);
}
.footer {
    background-color: var(--fourth-color-text);
    padding: 100px 0;
}
.logo-index {
    line-height: 1.5;
    color: var(--fifth-color-text);
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;

}
.point-first {
    width: calc((100% - 48px) / 3);
}