:root {
    --first-color-text: #000;
    --second-color-text: #4D5AE5;
    --third-color-text: #434455;
    --fourth-color-text: #2e2f42;
    --color-white: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--third-color-text);
    background-color: var(--color-white);
line-height: 1.6;
cursor: pointer;
}
header {
background-color:var(--color-white);
}
a {
    text-decoration: none;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color:#2E2F42;
}
p {
    font-size: 16px;
    color: #434455;
}
.button {
color:var(--color-white);
background-color: var(--second-color-text);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: 'Roboto', sans-serif;
cursor:pointer;
}
a:hover, button:hover {
    color:#404BBF;
}
.highlight:hover, .highlight2:hover {
    color:orange
}
.first-section {
    background-color: var(--fourth-color-text);

}
.logo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--second-color-text);
    font-size: 18px;
    font-weight: 800;
}
.first-list {
    font-size: 16px;
    font-weight: 500;
    color:#2E2F42;
}

.second-list {
    font-size: 16px;
    color:#434455;
}
.second-h {
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.highlight {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--second-color-text);
    font-size: 18px;
    font-weight: 800;
}
.highlight-two {
    color:#F4F4FD;
    font-size: 18px;
    font-weight: 800;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--second-color-text)
    
}
.footer {
    background-color: var(--fourth-color-text);
}
.footer-desc {
    color:#F4F4FD;
    font-size: 16px;
    
}